/**** Reset ****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**** Style général de la page ****/

body {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    overflow: hidden;
}

span {
    background-image: url("https://cdn4.iconfinder.com/data/icons/general-office/91/General_Office_54-512.png");
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: animate 6s linear;
}

/**** Animation animate ****/

@keyframes animate {
    from {
      transform: translate(-50%, -50%);
      opacity: 1;
      filter: hue-rotate(0);
    }
    to {
      transform: translate(-50%, -5000%);
      opacity: 0;
      filter: hue-rotate(720deg);
    }
}